[2016-02-22 11:08] johnnykv opened #1 "Strip away everything not strictly related to the honeypot part"

[2016-02-22 11:08] johnnykv opened #2 "Make a single protocol work as PoC"

[2016-02-22 11:12] #1 closed

[2016-02-22 12:53] johnnykv opened #3 "Make logger able to replay log messages using syslog."
The log worker should consume authentication log messages. Received logs should be written to file and optionally sent to a local ZMQ socket.

[2016-02-22 12:54] #2 closed

[2016-02-22 13:25] johnnykv opened #4 "Strip down SMTP capability to only provide authentication"

[2016-02-22 13:25] johnnykv opened #5 "Strip down http(s) capability to only provide authentication"

[2016-02-22 13:25] johnnykv opened #6 "Strip down pop3(s) capability to only provide authentication"

[2016-02-22 13:26] johnnykv opened #7 "Strip down ssh/telnet capabilites to only provide authentication"

[2016-02-22 13:26] johnnykv opened #8 "Implement VNC capability"

[2016-02-22 13:39] johnnykv opened #9 "Make it possible to log to a ZMQ socket."

[2016-02-22 16:23] johnnykv opened #10 "Use YAML as configuration file format"

[2016-02-23 19:18] #4 closed

[2016-02-24 21:25] #6 closed

[2016-02-25 20:08] #5 closed

[2016-03-05 20:46] #7 closed

[2016-03-08 19:24] #10 closed

[2016-03-08 19:32] johnnykv opened #11 "configure auto deploy to pypi"

[2016-03-12 12:44] johnnykv opened #12 "implement file logger (credentials, not system info)"

[2016-03-12 20:36] #12 closed

[2016-03-19 20:24] #11 closed

[2016-03-23 19:20] johnnykv opened #13 "Implement IMAP capability"

[2016-03-23 19:21] johnnykv opened #14 "Fix SSL wrapping so that we don't need the key file on disk"
Oh maybe we should just allow the key file to be on disc?

[2016-03-25 09:54] johnnykv opened #15 "Convert to python 3"

[2016-03-27 12:23] czardoz commented on #15
Will require forking of https://github.com/ianepperson/telnetsrvlib

It has a few print statements, etc.

[2016-03-27 13:06] johnnykv commented on #15
Maybe we can convince @ianepperson to go python 3 with telnetsrvlib :-)

[2016-03-28 11:32] #9 closed

[2016-04-02 07:51] johnnykv opened #16 "Session leaks causes crashes"
In some cases the telnet session is not cleaned up properly, resulting in a capability crash at some point.

[code]

[2016-04-03 08:30] #16 closed

[2016-04-16 07:23] czardoz commented on #15
I actually got it touch with him a few months ago, but it didn't really go anywhere :-(

I've forked the library [here](https://github.com/czardoz/libtelnetsrv), but it needs a lot more work to make it usable. I got things to run, but there are some issues with the whole `string` vs `bytes` thing.

I do plan to maintain it in the long term, so I'll update this issue when the fork is usable.

[2016-04-16 07:56] johnnykv commented on #15
Feel free to give it a shot :-) Maybe we could strip down telnetsrvlib to only provide the support needed? At least for the Heralding project, nothing of the interactive command stuff is needed.

[2016-04-16 09:39] czardoz commented on #15
I need that for one of my projects, so I'll let that be. I've removed support for eventlet though.

[2016-04-16 10:37] johnnykv commented on #15
Okay, sound good. Did you already try 2to3 on in?

[2016-04-17 10:15] johnnykv opened #17 "CSV logger does not handle unicode"
[code]

[2016-04-23 11:45] czardoz commented on #15
I did, but it didn't really help. The only change it handled was converting `SocketServer` to `socketserver` :stuck_out_tongue:

[2016-04-23 11:56] johnnykv commented on #15
Ok, I am pretty far in converting the heralding project to py3 (excluding the parts that uses telnetsrvlib).

[2016-04-23 12:02] czardoz commented on #15
I can see!

I need to get the escape sequences to work, the rest of the funcctionality seems to be working :+1:

[2016-05-13 14:22] #14 closed

[2016-05-19 10:16] shinji257 opened #18 "b64decode errors with incorrect padding on smtp module"
Got this error while trial running the module.

`error: uncaptured python exception, closing channel <heralding.capabilities.smtp.SMTPChannel connected 59.xxx.xxx.170:23396 at 0x7fc8d281a3b0> (<type 'exceptions.TypeError'>:Incorrect padding [/usr/lib/python2.7/asyncore.py|read|83] [/usr/lib/python2.7/asyncore.py|handle_read_event|449] [/usr/lib/python2.7/asynchat.py|handle_read|165] [/usr/local/li

[2016-05-20 15:22] johnnykv commented on #18
Can you provide a bit more details on this? Do you know what data was sent?

[2016-05-20 16:21] shinji257 commented on #18
No as I do not know if I have a means of actually capturing the live traffic at all unless I can do it via iptables during redirect.

All I can do is provide you with the configuration (as far as I know of it)
Host: Linode -- Unknown base configuration.  KVM virtualization
KVM "Host" system.  Ubuntu 14.04.
LXC "Guest" system.  Ubuntu 16.10 dev branch

iptables filter configuration redirect China i

[2016-05-20 16:39] johnnykv commented on #18
Thanks, I see the problem.

[2016-05-20 18:24] johnnykv commented on #18
@shinji257 is is correct that it was only the current SMTP session that failed? ie. Heralding continued accepting new connections?

[2016-05-20 18:36] shinji257 commented on #18
Correct.  It continued accepting new connections beyond throwing that error.

[2016-05-20 19:29] #18 closed

[2016-05-20 19:29] johnnykv commented on #18
fixed, the package should be available on pypi in a few mins.

[2016-05-20 23:43] shinji257 opened #19 "SSHException randomly generated"
For some reason the SSH module seems to be throwing random SSHExceptions.  It might of happened before... I backgrounded it after seeing the first one and seeing it working with the exception of SMTP.  For the most part it does seem to work but every now and again this shows up.

[code]
When it happens things move along and continue.

[2016-05-21 12:29] johnnykv commented on #19
Yeah, that happens from time to time. There are many reasons that this happens, port scans, protocol fuzzing, etc. This is a non-critical issue, and will be fixed im the next release.

[2016-05-21 13:30] #19 closed

[2016-08-17 20:31] #3 closed

[2016-08-19 17:22] johnnykv opened #21 "Handle invalid SSH banner"
This seems to happen when connecting to the SSH capability and entering bogus data.
To reproduce do `nc localhost 22` and enter random characters.

[code]

[2016-08-19 17:24] johnnykv opened #22 "Handle exception when no shared ciphers are found."
I guess that this goes for all protocols wrapped in `s`.

[code]

[2017-01-03 12:31] glaslos opened #25 "Implement RDP capability"

[2017-01-03 12:31] glaslos opened #26 "Implement SIP capability"

[2017-01-03 20:40] dwasserm opened #27 "How to use systemd with Heralding?"
Hi all,

I'm trying to use systemd with Heralding on Ubuntu 16.04 in order to run it as a service instead of just an adhoc Python script but running into a few problems:

1. Systemd wants to run Heralding in the foreground and I can't get it to work properly if I append `&` to the `ExecStart` stanza
2. The service quits after a little while and complains of a timeout error, even though the Python

[2017-01-03 20:43] johnnykv commented on #27
Below is the unit file i use myself, remember to replace the variables :-).
[code]

[2017-01-03 20:55] dwasserm commented on #27
Thanks! It seems to be working now. I guess the `type` was the main issue.

Should I set up Heralding with a virtual environment and if so, how?

[2017-01-04 18:57] johnnykv commented on #27
I always recommend setting up virtuel environments for python projects. Keeps the system python clean.

[2017-01-04 18:57] #27 closed

[2017-01-04 19:06] dwasserm commented on #27
How would I do that? Might be useful to add the steps to the readme 👍

[2017-01-06 12:58] glaslos opened #28 "Premature end of SSH session: Error reading SSH protocol banner"
Seeing quite a number of those:

[code]

[2017-01-08 16:39] johnnykv commented on #28
Duplicate of #21.

[2017-01-08 16:39] #28 closed

[2017-01-08 16:40] johnnykv commented on #21
@glaslos can you reproduce?

[2017-01-09 14:24] glaslos commented on #21
Not really, redirecting all connections on port 22 to Heralding. Could be non SSH traffic, partial data, you name it... Maybe Heralding should capture the pcap for exceptions?

[2017-01-15 16:47] markszabo opened #29 "SSLV3_ALERT_BAD_CERTIFICATE error when accessing the https webpage"
I've installed heralding, and http works fine, but if I try to access it via https, the browser displays a `SEC_ERROR_REUSED_ISSUER_AND_SERIAL` error message, while heralding throws the following exception:
[code]
I've reinstalled it and the error seems to persist. Any idea? (I'm using Ubuntu with all updates installed.)

[2017-01-15 19:03] johnnykv commented on #29
Uhm, yeah. I think this relates to reusing the same issuer and serial in Heraldings SSL config. I think it happens because the browser saves information regarding the sites certificate the first time it see the site, the problem comes when you delete and recreate herading - now the browser will see a new certificate with the same issuer and *serial* - and that seems spooky to the browser and hence

[2017-01-15 19:22] markszabo commented on #29
Yes, that solved the issue, thank you

[2017-01-15 19:22] #29 closed

[2017-01-25 15:22] Maleus opened #31 "Traceback error from nmap scan"
The software works fine until I run an Nmap scan on the box, which results in the following error:

This is a fresh install of Debian 14.04 LTS, with this software, patches and git being the only items installed.

The nmap scan has no flags, and is just a default scan used to verify ports being open.

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/gevent/greenlet

[2017-01-25 15:25] johnnykv commented on #31
Can you please provide more logging before and after the exception?
Does Heralding crash - or just logs exception and continues to run?

[2017-01-25 15:32] Maleus commented on #31
It does continue to run it seems, however it does consistently throw that error on an nmap scan.

[2017-01-25 15:33] Maleus commented on #31
Here is the log from the Traceback above:

2017-01-25 09:11:47,063 (root) Using default config file: "/usr/local/lib/python2.7/dist-packages/Heralding-0.1.15-py2.7.egg/heralding/heralding.yml", if you want to customize values please copy this file to the current working directory
2017-01-25 09:11:47,071 (heralding.reporting.file_logger) File logger started, using file: heralding_activity.log
2017-

[2017-01-25 15:35] Maleus commented on #31
Also confirmed that running nmap against ports other than 22 do not cause the error.

[2017-01-25 20:25] johnnykv commented on #31
Thanks for the details, this issue is the same as #21

[2017-01-25 20:25] #31 closed

[2017-01-25 21:57] Maleus commented on #21
Is the work around to just not listen on port 22?

[2017-01-25 21:59] glaslos commented on #21
I think that's too drastic. Heralding keeps running despite the exception. You just loose some potential credentials. Could be an issue in the ssh library or just malformed requests.

[2017-01-25 22:03] glaslos commented on #15
Did you consider replacing gevent with asyncio?

[2017-02-21 08:02] johnnykv commented on #22
You should be able to reproduce it with sslclient. Use it to connect to a heralding protocol wrapped in ssl (https or pop3s).

[2017-02-22 17:26] yvshri commented on #21
As @glaslos suggested, I looked into the error. [This](https://github.com/paramiko/paramiko/issues/337) and [this](https://github.com/paramiko/paramiko/issues/389) issues from paramiko's repo suggest that Paramiko doesn't support Greenlets. As far as I have understood, heralding is using greenlets. Could this be the issue?

[2017-02-22 19:03] johnnykv commented on #21
I am not convinced that it's the root cause here (but I could be wrong!). As I see it, we are able to reproduce the issue by providing bogus data to port 22 which causes the exception (as expected). I would guess that if we run the same experiment without greenlets we would see the same issue.

[2017-02-23 09:08] Philelis opened #32 "[Question] Possible to add HPFeeds?"
Hey,
Would it possible to add HPFeeds to your project or is it to much effort?

[2017-02-23 11:11] johnnykv commented on #32
Yes, feel free to make a pull request! ;.)

[2017-02-23 11:11] #32 closed

[2017-02-28 14:38] mohanagr commented on #15
I have been recently introduced to Heralding and am looking to contribute to this whole porting to Python3 thing. How can I get started?

[2017-02-28 20:26] johnnykv commented on #15
I would suggest that you for starters familiarize yourself with heralding in general (functionality, architecture, etc). After that I would suggest 2to3 tool on heralding and start fixing stuff that is broken after 2to3 :-)

Note that the dependency on telnetsrvlib might be an issue, so could gevent...

[2017-02-28 20:51] mohanagr commented on #15
Although I have read a bit about it, I do not have any experience in asyncio. I am experienced with python multithreading and zeromq for that matter. I have been trying to get my hands on #21 to no avail yet.

[2017-02-28 20:56] czardoz commented on #15
Mohan,

I think you should first reproduce the issue. Trying to do that will ensure
that you:

1. Are able to set up heralding for development
2. Are able to run existing unit tests
3. Gain familiarity with the "edit -> run code -> test changes -> edit
again" loop

On 01-Mar-2017 2:21 AM, "Mohan Agrawal" <notifications@github.com> wrote:

Although I have read a bit about it, I do not have any expe

[2017-02-28 21:42] mohanagr commented on #15
Reproducing the issue was simple enough by sending random data to port I specify in ssh capability. All the tests are passing too. I will be going through the working and 2to3 on core files.

[2017-03-13 21:08] #17 closed

[2017-05-15 05:29] johnnykv commented on #22
Closed with 6ba2a9d

[2017-05-15 05:29] #22 closed

[2017-05-18 20:15] #13 closed

[2017-05-21 17:50] kajojify opened #38 "Fix SSLError while connecting to https with web browser."
When you try to connect to Heralding https using web browser (I checked Chromium and Firefox), SSLError occures:
[code]
It seems, the problem relates to SSL generation.

[2017-05-30 22:39] kajojify opened #40 "Add logging the authentication mechanism type."
Some Heralding capabilities support several authentication mechanisms. I think, it would be useful to know which one auth mechanism is used, when trying to authenticate.

[2017-06-23 19:34] #15 closed

[2017-06-23 19:34] #21 closed

[2017-06-23 19:50] johnnykv opened #43 "Investigate exception related to paramiko and EOFERROR"
The exception below was found on a running 0.2.0 instance. We need to investigate this.
[code]

[2017-06-23 20:07] kajojify commented on #43
Once I got this exception, but don't remember how. Could you please tell, how to reproduce it?

[2017-06-23 20:26] kajojify opened #44 "UnicodeDecodeError when sending Ctrl+C using telnet to some capabilities."
[code]
Result:
[code]
It is not difficult to fix. I will include the solution inside to PR.

[2017-06-23 21:21] johnnykv commented on #43
I saw it on a deployed box. I have not tried to reproduce, but i suspect it happens if the connection is not shutdown properly... maybe try to connect and drop the connection silently.

[2017-06-24 08:43] johnnykv commented on #43
Don't spend time on it now, it might be a wild goose chase - but down the road we need to investigate it...

[2017-06-24 10:22] johnnykv opened #45 "Replace gevent with asyncio"
Note that there might be some problems with paramiko and async io[1], we might have to replace paramiko with something like asyncssh [2]

[1] https://github.com/paramiko/paramiko/issues/389
[2] https://github.com/ronf/asyncssh

[2017-06-28 17:20] johnnykv commented on #43
More detailed exception (verbose logging enabled):
[code]

[2017-07-28 16:02] johnnykv opened #49 "Investigate error "Protocol wrong type for socket"."
Using this code
[code]

the exception below was generated on OS X, this needs to be investigated.

[code]

[2017-08-08 18:42] #45 closed

[2017-08-08 18:42] #44 closed

[2017-08-08 18:42] #40 closed

[2017-08-09 20:43] johnnykv commented on #43
closing since we don't use paramiko anymore.

[2017-08-09 20:43] #43 closed

[2017-08-29 18:07] dwasss commented on #27
@johnnykv Heralding has been updated since the beginning of this year. I just upgraded from 0.1.15 to 0.2.1. Are you using the same systemd service? Is there another way to run Heralding in the background/non-interactively?

[2017-08-29 19:35] johnnykv commented on #27
@dwasss Thanks for the feedback, Heralding has sene some crazy good code changes the last fem months. Seems like we need to test the systems unit again. Could you raise this as a new issue with as much details as possible?

[2017-08-29 19:58] dwasss opened #59 "How to use systemd with Heralding? part 2"
Continued from https://github.com/johnnykv/heralding/issues/27

Hi all,

I'm trying to use systemd with Heralding 0.2.1 on Ubuntu 16.04 in order to run it as a service instead of just an adhoc Python script but running into a few problems. I have Python and Python3, but uninstalled the Python 2.7 version of Heralding.

Here is my unit file for Heralding that I created based on @johnnykv's version.

[2017-08-30 18:25] dwasss commented on #27
OK done, see https://github.com/johnnykv/heralding/issues/59.

[2017-08-31 06:03] dpicollege opened #60 "question about error"
Hello,
when i try to install this project. i face this problem""Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-AXXE1Y/aiosmtpd/"" any solution?

another request is add hpfeeds to this project

[2017-08-31 15:12] dwasss opened #61 "IPify Error - TLS CA certificate bundle"
I set the option to get the public IP from IPify in the Heralding config. When starting Heralding for the first time, there are no issues but every hour after that I see errors like the one below.

`2017-08-31 14:09:40,082 (heralding.honeypot) Could not request public ip from ipify, error: Could not find a suitable TLS CA certificate bundle, invalid path: /home/<user>/.local/lib/python3.5/site-pac

[2017-08-31 18:10] johnnykv commented on #59
Looking at the error `ImportError: No module named 'heralding'` it seems like heralding is not installed in the python environment you are running.
Is heralding installed systemwide or in a virtual environment?

[2017-08-31 18:12] johnnykv commented on #60
No sure about the aiosmtpd error, maybe @kajojify could chime in on this?

Regarding hpfeeds, please raise this as a separate feature request.

[2017-08-31 20:05] dwasss commented on #59
I followed the install instructions in the [README](https://github.com/johnnykv/heralding/blob/master/README.rst) so I guess system-wide?

[2017-09-01 08:14] kajojify commented on #60
Hello! Try to use `pip3 install heralding` istead of the variant from readme. Make sure you use Python 3.5 or higher.

[2017-09-17 19:07] kajojify commented on #61
@dwasss, Hello!
Unfortunately, I couldn't reproduce an issue on my system.
After short googling I found a few repositories with the same issue. It seems, this issue goes from ez_setup.py file.
I am not sure, it will work for you, but there are two solution I found:
- second part of https://github.com/maxtepkeev/python-redmine/issues/167#issue-213598408
- https://github.com/cs50/submit50/issues/75#

[2017-09-17 19:27] kajojify commented on #60
Hi! Is the problem still relevant for you?

[2017-09-18 05:41] dpicollege commented on #60
it's not working!

[2017-09-18 05:42] dpicollege opened #63 "feature request: add hpfeeds support"
Hello,
please add hpfeeds protocol support

[2017-09-18 17:55] dwasss commented on #59
@johnnykv
I think I might just have to start over. Can you explain the steps to set up Heralding in a virtualenv? Also, the Readme might need to be updated to use pip3 commands, right?

[2017-09-18 17:56] dwasss commented on #60
I agree with @dpicollege, updated installation would be helpful.

[2017-09-19 04:31] dwasss commented on #61
Thanks @kajojify. I resolved it with a reinstall of heralding from scratch and using a virtualenv. This can be closed.

[2017-09-19 04:31] #61 closed

[2017-09-19 04:35] dwasss commented on #59
I got it working. I will submit a readme soon but in the meantime, here is my service definition file:

[code]

[2017-09-19 04:35] #59 closed

[2017-09-19 04:41] dwasss commented on #38
@kajojify I didn't have any issues using Chrome on the latest version of heralding. Maybe this is a legacy issue and can be closed?

[2017-09-19 09:04] kajojify commented on #38
@dwasss Yes it is. Thank you for your observation!

[2017-09-19 09:04] #38 closed

[2017-09-20 15:05] dwasss commented on #60
@dpicollege I created step by step installation instructions, see https://github.com/johnnykv/heralding/blob/master/INSTALL.md.

[2017-09-21 04:58] dpicollege commented on #60
thanks indeed. i will install and inform you what happen.

[2017-09-23 19:00] johnnykv commented on #63
Preliminary hpfeeds support has been added on the hpfeeds branch - if you test it out and it works, I will merge it into master.

[2017-10-09 02:34] mrkiwi-nz opened #66 "attempts not logged unless -v is used"
On a live-usb version of Ubuntu 17.04 I followed this [guide](https://github.com/johnnykv/heralding/blob/master/INSTALL.md)
however the only things logged was the starting of each service.
Adding -v to the command like such;
`sudo ./heralding-env/bin/heralding -v`
added a bunch of other lines to the log, including the usernames and passwords attempted.

Is this the expected result?

[2017-10-09 14:05] andrewmichaelsmith commented on #66
Did you check heralding_activity.log?

[2017-10-09 17:58] johnnykv commented on #66
@andrewmichaelsmith is right, only system level logs (mostly warnings and startup stuff) are emitted to stdout. For the credentials you need to look in the heralding_activity.log file.

[2017-10-09 17:58] #66 closed

[2017-10-14 17:18] johnnykv commented on #63
@dpicollege hpfeeds support has been merged into master. Please test it and report back.

[2017-10-21 10:51] #63 closed

[2017-11-13 08:57] johnnykv commented on #63
@dpicollege did you have a chance to test this?

[2017-11-14 19:32] dhu041 opened #69 "Error messages during installation/running of heralding"
1. I tried to install and run heralding on an Ubuntu (16.04) machine with Python 2.7.12. Installation of the required packages and heralding succeeded but it doesn't run due to missing python module named "_curses". I have been searching for various solutions and installed many recommended packages that claim to contain the _curses module but still getting the same error message.

2. As an option

[2017-11-15 22:47] kajojify commented on #69
@dhu041 Hello!
1) Heralding supports only Python 3.5+ versions now.
For Heralding usage:
-  on the machine with Python 2, please use version **0.1.17** or earlier.
-  on the machine with Python 3 < 3.5, please use version **0.2.0**.

2) I reproduced your issue.
After some digging, I found out that the problem is probably in [_pypi_ version](https://pypi.python.org/pypi/heralding) of Heralding.
I d

[2017-12-01 12:12] dhu041 commented on #69
Thanks @kajojify !

[2017-12-01 19:19] johnnykv commented on #69
@kajojify Uhm, why is requirements-test.txt needed in the package? Maybe @andrewmichaelsmith can enlighten us the specifics of this file?

[2017-12-01 23:02] kajojify commented on #69
@johnnykv As I understood, postgresql tests need additional module psycopg2. Since we don't want to add extra dependencies to requirements.txt, this dependency was put to separate file.
New line in setup.py:
```tests_require=open('requirements-test.txt').read()```
This file lets us use specific requirements for tests.

[2017-12-03 09:10] johnnykv commented on #69
Closed with 0.2.4.

[2017-12-03 09:10] #69 closed

[2017-12-06 21:22] johnnykv commented on #60
Please reopen if this is still a issue.

[2017-12-06 21:22] #60 closed

[2017-12-28 14:59] #8 closed

[2017-12-31 13:39] johnnykv opened #71 "Implement smb capability"

[2017-12-31 13:41] johnnykv opened #72 "Implement socks5 capability"

[2018-01-15 19:36] johnnykv opened #74 "Fix imap and pop3 tests"
The tests are currently failing (https://travis-ci.org/johnnykv/heralding/jobs/329183140).
Also the ports used in test cases should not be static but rather ephemeral ports...

[2018-01-21 19:04] #74 closed

[2018-02-27 19:17] dwasss opened #75 "Logging issue - auth_type"
The `auth_type` field as documented in the readme is actually not implemented. It is supposed to be logged in log_auth.csv according to the readme, but that only has the following fields: `timestamp,auth_id,session_id,source_ip,source_port,destination_ip,destination_port,protocol,username,password`.

[2018-02-28 15:15] johnnykv commented on #75
The auth_type is not well implemented in the code, it has little to no use with the current implementation (search for add_auth_attempt and look at the _type parameter) in the source code. I will update the readme (until someone implemented auth_type properly).

[2018-02-28 15:16] #75 closed

[2018-03-14 21:10] otih opened #76 "Implement mysql/mariadb capability"

[2018-03-14 21:10] otih opened #77 "Implement postgres capability"

[2018-03-14 21:12] otih opened #78 "Implement remote logging"
implement an additional possibility for remote logging against a REST API or something similar.

[2018-03-14 21:59] #77 closed

[2018-03-17 09:53] johnnykv commented on #78
Any specific API you had in mind?

[2018-03-17 10:10] slavkoja opened #79 "enum34 in requirements"
You have in readme, that python 3.5+ is required, but in `requirements.txt` is `enum34` mentioned. AFAIK, it backports the `enum` module into python <3.4 and it is in standard library for 3.4+. Is it still needed?

BTW, in readme you have:
[code]
Is the `requirements.txtri` right?

[2018-03-17 15:13] johnnykv commented on #79
You are right, thanks for the headsup. Fixed in the next commit.

[2018-03-17 15:16] #79 closed

[2018-03-18 22:12] feliped79 opened #80 "Congratulations and a doubt ..."
Good evening, I would like to congratulate you on the excellent tool. After much research and several attempts, I found Heralding, this fantastic tool that allows you to capture undue access attempts; as it is simple to install, the tutorial is very well explained and the logs very intuitive.
My final undergraduate work is using this amazing tool. I am using only for IPv4 however, a colleague aske

[2018-03-18 22:52] kajojify commented on #80
@feliped79 Hello! Thanks for your opinion!
I think we can add IPv6 support, if @johnnykv doesn't mind of course :)
Good luck with your undergraduate work!

[2018-03-19 17:45] johnnykv commented on #80
Yes, ipv6 should be possible, I wonder if all it takes is to do two create_server using a ipv4 bindhost and a ipv6 bind_host for the other?

[2018-03-19 18:01] kajojify commented on #80
@johnnykv I played with `asyncio.start_server` a little bit yesterday.
There are 2 variants:
1. Implement two modes separately: ipv4 mode and ipv6 mode.
2. Implement one mode, which works with both ipv4 and ipv6 modes.

For the first variant we can teach mitmproxy to respect `-4` and `-6` console arguments or `--ipv4` and `--ipv6`. Then depending on the chosen variant:
**ipv4**
[code]
**ipv6**
[co

[2018-03-19 19:52] feliped79 commented on #80
Wow, that's cool, I hope one day I'll get to that level of programming in Python and networks too ... but for now I know only the basics of Python.

[2018-04-17 22:57] kajojify commented on #80
@feliped79 Hello again! :)
I've just looked through possible variants of ipv6 support providing and found out an interesting thing.
**Heralding** already has very basic support of ipv6 support.
`asyncio.start_server` has attribute `family`, which is inteded to choose ip version

The thing is `asyncio.start_server` can automatically choose appropriate family relying on the specified host.
Host is t

[2018-04-21 17:57] #72 closed

[2018-04-21 17:57] johnnykv commented on #72
closed with #82

[2018-04-25 12:22] t3chn0m4g3 opened #85 "Log user agent for http"
For statistical purposes it would be great if it was possible to also log (where possible) user agent string into `auth.csv`

[2018-04-27 19:05] johnnykv commented on #85
auth.csv is meant to be simple and streamlined, only authentication stuff will be logged into that file. That said, for fingerprinting (and statistical) purposes I would be interesting to log additional information for each protocol. Not sure how to proceed on this...

[2018-04-27 19:38] johnnykv commented on #80
Yes, confirmed. It sure does work:

And log_auth:

I guess the challenge now is how to make it listen to both ipv6 and 4?

[2018-04-27 20:19] slavkoja commented on #80
perhaps this can help about binding socket to both https://bugs.python.org/issue17561

[2018-09-10 10:17] t3chn0m4g3 opened #86 "Error using HPFEEDS"
When enabling hpfeeds I am getting the following error as soon as heralding is starting up:
[code]

Disabling hpfeeds in the config solves this and heralding is starting as expected.

[2018-09-10 14:34] vorband commented on #86
should be fixed in https://github.com/johnnykv/heralding/pull/87

[2018-09-10 15:09] johnnykv commented on #86
@t3chn0m4g3 can you verify that #87 fixes the issue?

[2018-09-10 15:16] vorband commented on #86
@johnnykv: He MUST, as he is sitting next to me :)

[2018-09-10 15:17] t3chn0m4g3 commented on #86
@vorband @johnnykv my notebook is too old and not the fastest. build the image right now :)

[2018-09-10 16:18] t3chn0m4g3 commented on #86
@johnnykv Works perfectly. Can you merge please and create a new release? TIA :)
@vorband Thank you!

[2018-09-10 20:31] #86 closed, assigned to nobody

[2018-09-11 07:10] t3chn0m4g3 commented on #86
@johnnykv Thank you for the swift response 😃

[2018-09-22 13:39] johnnykv commented on #25
Reference notes for future implementation:
https://wiki.wireshark.org/RDP
http://download.microsoft.com/download/9/5/e/95ef66af-9026-4bb0-a41d-a4f81802d92c/[MS-RDPBCGR].pdf

[2019-02-09 04:20] DeveshChande commented on #85
Logging the user-agent, geolocation and heralding-version seems to be a good starting point. Besides Python, are other programming languages a viable solution? Regardless, I'd like to start working on this!

[2019-02-15 17:34] kajojify opened #89 "Make Heralding more invisible"
We want Heralding to work as quality as possible. One thing about this is to be as invisible as possible, that an attacker thinks he interacts with ordinary services, but not with honeypot.
We need to check each protocol implementation we have in order to understand what things may expose Heralding as a honeypot.
For example, we probably don't want our http capability to show the information about

[2019-03-01 11:58] q2dg commented on #85
Sorry if it's offtopic, but implementing a ELK connector to delegate the storage of all this information anywhere else could be a good idea?

[2019-03-01 12:00] t3chn0m4g3 commented on #85
@q2dg You should have a look at [T-Pot](https://github.com/dtag-dev-sec/tpotce/tree/master/docker/heralding).

[2019-03-01 12:03] q2dg commented on #85
@t3chn0m4g3 Ooh, thanks a lot!

[2019-03-01 12:03] t3chn0m4g3 commented on #85
@q2dg Welcome 😃

[2019-03-02 16:23] johnnykv commented on #85
I agree with @t3chn0m4g3.

[2019-03-03 09:37] johnnykv opened #91 "Logging of auxiliary data"
Each capability potentially allows for logging of auxiliary data, for example user_agent (HTTP) and client version (SSH). Heralding need to log this data somehow.

Each protocol could log it's own aux data in a separate log file (aux_ssh.log) or it could be a global XML aux log file. Whatever the log format, it should be machine readable (xml, csv, json, etc).

Inspired by issue #85.

[2019-03-03 09:38] johnnykv commented on #85
Issue merged into #91 (Logging of aux data).

[2019-03-03 09:38] #85 closed

[2019-03-03 20:09] realsdx commented on #91
I want to work on this issue. Is HTTP , and ssh are currently being targeted for logging auxiliary data ?

[2019-03-04 05:58] kajojify commented on #91
@realsdx Hi! :)
Thank you for paying attention to this.
As Johnny said:

Not only HTTP and SSH are targeted. They are just examples. We have to consider each capability and try to find auxiliary data to log.
If you want to work on this, please coordinate with Devesh Chande, since he also started to work on this https://github.com/johnnykv/heralding/issues/85#issuecomment-462012137
Currently he wor

[2019-03-04 09:25] realsdx commented on #91
Okay, thanks. I will start working on SSH then.

[2019-03-04 09:50] DeveshChande commented on #25
Just leaving this here, as the second link is not functioning.
https://winprotocoldoc.blob.core.windows.net/productionwindowsarchives/MS-RDPBCGR/%5bMS-RDPBCGR%5d.pdf

[2019-03-05 17:15] DeveshChande opened #92 "Login Error"
Steps to replicate :

1. Start heralding.

2. Copy image url address (of any image, here is an example) :

https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2017/11/12193133/German-Shepherd-Puppy-Fetch.jpg

3. Open web browser ( I’m using Chrome ).

4. Connect to `0.0.0.0:80` for HTTP connection.

5. Now, enter the image url as the username in login-page. Put anything for password

[2019-03-05 17:21] kajojify commented on #92
An error occurs because of this line -> https://github.com/johnnykv/heralding/blob/master/heralding/capabilities/http.py#L62

`dec_uname_pwd` contains something like "test:123:password", `split` method breaks it into 3 parts by ":" separator, so there are 3 strings, but 2 variables. That's why we have an error.

[2019-03-06 15:08] realsdx commented on #76
I would like to work on this issue.

[2019-03-06 16:23] kajojify commented on #76
@realsdx Go ahead! Good luck! Once I also implemented it, but we decided that we didn't need hashed password at that moment.
This will definetely help you -> https://mariadb.com/kb/en/library/connection/#initial-handshake-packet

[2019-03-06 19:14] realsdx commented on #76
Thanks! I will start working on it.

[2019-03-14 11:14] DeveshChande commented on #92
I’d like to apologize for the delay, I had exams. Coming to the above issue, [RFC 2617](https://tools.ietf.org/html/rfc2617#section-2) and [RFC 7617](https://tools.ietf.org/html/rfc7617#section-4)  indicate that valid username’s cannot contain the character colon (“:”).

Thus, we can simply split the string that is passed via the http authentication protocol. This raises two questions :

1. What i

[2019-03-16 21:54] kajojify commented on #92
Everything is ok. All we have some business at university/work :)

I think, that we should follow RFCs and consider colon usage as an error.
But I also think we should log `dec_uname_pwd`, probably only in _verbose_ mode.
@johnnykv?

[2019-03-17 08:54] johnnykv opened #94 "Fix/update test environment"
The test for 3.5.0 is failing:

https://travis-ci.org/johnnykv/heralding/jobs/507151225

My hunch is that it’s because of some issue that was fixed in 3.5.1.

3.5 is pretty old, therefore the Travis config should be fixed so that we test all python release starting from 3.6.4.

[2019-03-17 18:23] #91 closed

[2019-03-17 18:24] johnnykv opened #95 "Logging of auxiliary data for http/https."
Originates from #85 (@t3chn0m4g3)

[2019-03-17 18:26] johnnykv commented on #95
Investigate which aux data we can log from the protocol. Discuss implementation and implement.

[2019-03-17 18:28] johnnykv opened #96 "Logging of auxiliary for telnet."

[2019-03-17 18:28] johnnykv opened #97 "Logging of auxiliary for pop3/pop3s"

[2019-03-17 18:28] johnnykv opened #98 "Logging of auxiliary for imap/imaps."

[2019-03-17 18:28] johnnykv opened #99 "Logging of auxiliary for ftp."

[2019-03-17 18:29] johnnykv opened #100 "Logging of auxiliary data for socks5."

[2019-03-18 14:54] iamxlr8 commented on #96
I want to work on this issue. Is .heralding/capabilities/telnet.py a good starting point?

[2019-03-18 14:54] DeveshChande commented on #95
I think logging specific headers to CSV is better as there are headers which heralding does not use, such as the ones pertaining to cookies, proxies, redirects, and DNT to name a few. Thus, I think : Date&Time, SessionID, User-Agent, Host, Username and Password will be more helpful when analyzing logs.

[2019-03-18 15:06] johnnykv commented on #95
Sounds like a plan for starters. But i think you should ignorer username and password, not even sure they are part of the header.

[2019-03-18 15:07] johnnykv commented on #96
Sounds like a very good place to start. I suggest that you start out by investigating which data we can collect from the connecting clients.

[2019-03-19 12:38] amanjiofficial commented on #99
I would like to work on this issue. What all data should we log ?? Suggest @johnnykv @kajojify

[2019-03-19 13:20] DeveshChande commented on #95
Okay, so logging the following HTTP headers is easy right off the bat :
1. User-Agent
2. Host
3. Accept and Accept-Encoding

As far as Date and Time, the 'Date' header [is not supported in GET](https://stackoverflow.com/questions/26284553/weird-issue-with-missing-date-http-header#comment41240968_26284553) (also detailed in[ RFC 2616)](https://tools.ietf.org/html/rfc2616#section-14.18). To mitigate

[2019-03-19 14:50] realsdx commented on #94
Should we make it up to the latest stable version 3.7.2 ? or older

[2019-03-19 17:52] johnnykv commented on #95
In all circumstances the SessionID and timestamp should be extracted from the session, we cannot trust anything sent to us by the client. Sounds like a plan, let's see some code :-)

[2019-03-19 17:53] johnnykv commented on #99
@amanjiofficial Sounds good. No clue in regards to what should be logged, part of this task is to investigate what information (if any) we can extract from the connecting client.

[2019-03-20 19:11] johnnykv commented on #92
Uhm, from the RFC:

So...  I guess this means john::bond is valid and should decode to username=john, password=:bond

[2019-03-22 07:28] johnnykv commented on #95
#102

[2019-03-23 12:03] johnnykv commented on #85
user agent it now logged in an auxiliary log file for http.

[2019-03-23 12:05] johnnykv commented on #95
closed with ca78d6d45cf3e6c6fcc8e98ef9aff798b52246b8

[2019-03-23 12:05] #95 closed

[2019-03-24 10:35] viditgarg1999 commented on #49
Maybe it’s showing error because there is a mismatch in the protocols, like the code is written in
UDP protocol but in the selectors_event.py file (line no. 702)
n = self._sock.send(data)

we have used .send which is used in TCP protocol, instead of writing it as .send try changing it to .sendto (used in UDP protocol)

Hence the command become,
If the file is client file and the data is in encrypt

[2019-03-30 19:07] johnnykv commented on #85
complete session info (including user agent) is not logged to log_session.json.

[2019-03-30 19:53] johnnykv commented on #76
This MySQL capability has been introduced in master as of today.

[2019-03-30 19:54] #76 closed

[2019-03-30 20:13] realsdx commented on #94
Seems like travis still dosen't have python 3.7.

[2019-03-30 20:18] johnnykv commented on #94
Then pick the highest version that Travis supports.

[2019-03-30 20:22] kajojify commented on #94
Travis should support Python 3.7 -> https://docs.travis-ci.com/user/languages/python/#development-releases-support

[2019-03-31 16:47] #94 closed

[2019-04-12 19:07] #100 closed

[2019-04-14 11:24] johnnykv opened #111 "Disable unnecessary asyncssh logging"
Asyncssh emits debug messages, this needs to be disabled:

[code]

[2019-04-14 15:29] kajojify commented on #111
What do you think about keeping it working in the debug mode?

[2019-04-14 15:31] johnnykv commented on #111
Sounds like a plan!

[2019-04-15 06:06] realsdx commented on #111
i would like to work on it.

[2019-04-16 14:47] kajojify commented on #111
Strange. I am trying to reproduce it on the latest Heralding version. I don't see the bug. @realsdx, do you see it?

[2019-04-17 22:04] #111 closed

[2019-08-11 11:39] #25 closed

[2019-09-10 11:38] rewthing opened #122 "vnc not logging passwords"
I'm running Heralding version 1.0.5 on Python 3.7 (Kali Rolling), installed via pip3.  Unusual destination port below is due to nftables redirect rule.  All the other modules seem to work fine but VNC shows lines like this in log_auth.csv:

    2019-09-09 19:10:23.936595,35fdd8fe-7cde-4830-bf75-1705fff5bc20,a4b8ce74-468c-48bc-8a67-461baa4c0958,157.245.161.153,36822,24.118.x.x,8611,vnc,,
    2019-0

[2019-09-10 11:50] realsdx commented on #122
VNC, protocol doesn't use any username for authentication so that part will be empty always.
As, vnc protocol uses 'DES' encryption to encrypt passwords you won't get them either on Heralding version 1.0.5. But, the current git version has a hash cracker(dictionary based) for the VNC protocol. Try that.

[2019-09-11 04:52] DeveshChande commented on #92
I've almost solved this but I face the following dilemma :

If the user attempts to login via **only** the username field, for the text "john::bond", then heralding will see it as username = john and password = :bond:.

This is going to conflict with the scenario wherein the user inputs into the username field = john and password field = :bond:.

Both will have the same output but input is differe

[2019-09-11 12:37] rewthing commented on #122
Sweet.  I'll try that when I get a chance.

I did look at vnc.py ... Would it speed things up to use a fixed challenge there instead of urandom?

[2019-09-17 12:12] kuax commented on #92
It's the browser who does the encoding and sends the request, so there is no way of receiving the two fields separately...
As @johnnykv cited:

I guess this is true also for "real" web servers: if you input `john::bond` in the username field and provide no password, the authentication backend will likely try to authenticate user `john` with password `:bond:`. Would be nice to set up a little test

[2019-09-17 13:25] kuax opened #123 "HpFeeds auth logging crashes"
Steps to replicate:

1. Enable HpFeeds logging (in my case HpFeeds only)
2. Run heralding
3. Make a login attempt through HTTP (or probably every other protocol)

heralding crashes giving this log:

[code]

The problem is the [session.py](https://github.com/johnnykv/heralding/blob/master/heralding/misc/session.py) file:

- [line 75](https://github.com/johnnykv/heralding/blob/master/heralding/misc/

[2019-09-18 10:42] realsdx commented on #122
Yes , it will speed things up. But, that would make it easily fingerprintable.

[2019-10-11 18:48] johnnykv commented on #123
@kuax Just pushed a fix to master - got any time to test if it works?
(our automated test case for HPfeeds is very very limited :-) )

[2019-10-11 18:56] johnnykv commented on #122
Closing this, since it's not a bug.  Somewhere down the road we would like to add some kind of adaptive wordlist feature. Sort of, updating the wordlist as we go using passwords collected from the other protocols.

[2019-10-11 18:56] #122 closed

[2019-10-11 18:56] johnnykv commented on #92
So, where are we on this one? But or feature? :-)

[2019-10-11 19:01] realsdx commented on #92
I think it's feature ;-)

[2019-10-12 17:25] #92 closed

[2019-10-17 08:45] t3chn0m4g3 opened #125 "RDP connection with Microsoft remote desktop tool result in error"
Using the latest master I am presented with the following error when trying to open a RDP connection:

[code]

Other services, i.e. Telnet, SSH, VNC work without issues.

Please let me know how I can help.

[2019-10-17 08:49] johnnykv commented on #125
Which client do you connect with?

[2019-10-17 08:51] t3chn0m4g3 commented on #125
For the purpose of the test I was using [MS RDP for Android](https://play.google.com/store/apps/details?id=com.microsoft.rdc.android&hl=de).

[2019-10-17 08:54] t3chn0m4g3 commented on #125
Result for [MS RDP for macOS](https://apps.apple.com/de/app/microsoft-remote-desktop-10/id1295203466?mt=12) is the same error message within Heralding.
The MS RDP client error code is `0x4` (mac OS and Android).

[2019-10-17 09:15] johnnykv commented on #125
Yes, please do. Just for reference, can you verify that ._/hydra -l someuser -p somepass 127.0.0.1 rdp_ work against you honeypot?

[2019-10-17 09:36] johnnykv commented on #125
You need to compile hydra with RDP support 😀. Before compiling you need to
have freerdp2-dev installed.

On Thu, 17 Oct 2019 at 11.32, Marco Ochse <notifications@github.com> wrote:

[2019-10-17 09:41] t3chn0m4g3 commented on #125
My Hydra is compiled with RDP support, works perfectly fine against my RDP server...
[code]

[2019-10-17 10:26] t3chn0m4g3 commented on #125
Made sure to use the correct version this time.

Hydra works against RDPY, but sadly not against Heralding. I can see my session coming in, but Hydra tells me the connection failed to establish:
[code]

[2019-10-17 12:46] t3chn0m4g3 opened #126 "Hydra reports "freerdp: The connection failed to establish.", while Heralding logs connection and credentials."
As requested by @johnnykv in #125:

Hydra works against RDPY, but sadly not against Heralding. I can see my session coming in, but Hydra tells me the connection failed to establish:
[code]

[code]

[2019-10-17 20:45] johnnykv commented on #125
This but is confirmed with the Microsoft Remote Desktop app on IOS, Android and Macos.
To reproduce:
1. Install Remote desktop app
2. Try to login to Heralding from the app.

[2019-10-18 06:34] realsdx commented on #125
I am looking into it.

[2019-10-18 08:07] t3chn0m4g3 commented on #126
Yes, passwords are logged:

[code]

[2019-10-20 19:48] realsdx commented on #125
This particular Error is due to the fact that, the `x224ConnectionRequestPDU` function is not considering the "cookie" as optional parameter. My mistake! , can be easily fixed by just adding an if..else.
However, during the testing I am facing a new issue with Android client. I am still not sure what it is. I will update.

[2019-10-21 18:07] t3chn0m4g3 commented on #125
@realsdx Thank you for the update!

[2019-11-11 19:42] realsdx commented on #126
I couldn't figure it out the reason for it (may be because, RDP protocol dosen't specify any AuthFail , packet).
But current git version of thc-hydra dosen't show this anymore.
[code]

[2019-11-21 14:09] t3chn0m4g3 commented on #126
Confirmed. Thanks! :bowtie:

[2019-11-21 14:09] #126 closed

[2019-11-21 14:10] t3chn0m4g3 commented on #125
Do you have an update on this?

[2019-11-24 08:24] realsdx commented on #125
Not anything helpful.

[2019-11-24 08:26] realsdx commented on #125
After fixing that "cookie" problem, i encountered another issue of channel join request, where Android client abruptly closes the after sending the channel(1007) join confirm packet.

[2019-11-25 08:14] t3chn0m4g3 commented on #125
@realsdx Thanks. Anything I can help you testing with?

[2019-11-25 08:17] realsdx commented on #125
I tested with two Android devices, same thing. If you can provide the packet capture and terminal out put that would be helpful.

[2019-11-25 08:19] t3chn0m4g3 commented on #125
On the Heralding side?

[2019-11-25 19:13] realsdx commented on #125
Yes

[2019-12-31 14:29] Hydra820 opened #127 "address already in use FTP"
2019-12-31 06:25:30,882 (heralding.honeypot) Using default wordlist file: "/home/pisoto/heralding/heralding-env/lib/python3.6/site-packages/heralding/wordlist.txt", if you want to customize values please copy this file to the current working directory
2019-12-31 06:25:30,883 (heralding.reporting.file_logger) File logger: Using log_auth.csv to log authentication attempts in CSV format.
2019-12-31 0

[2019-12-31 17:38] realsdx commented on #127
Check, if there is already a FTP server running in your system. Port 21 is standard for FTP servers. So, if you have a FTP server running already, stop it and try again or just edit the config file.

[2020-01-01 07:36] Hydra820 commented on #127
thank you very much

[2020-01-01 07:37] Hydra820 commented on #127
thank you very much

[2020-01-01 07:37] #127 closed

[2020-01-01 23:50] haroldBarthel opened #128 "SSH won't start"
hi

I tried out heralding today on a CentOS system. After going through the setup I tried to start it. I ran into a problem with SSH:

2020-01-01 16:02:21,460 (heralding.honeypot) Could not start SSH server on port 22. Error: prepare() got an unexpected keyword argument 'loop'

Although port 22 was not in use, I tried changing the port for SSH anyway:

2020-01-01 16:10:40,053 (heralding.honeypot)

[2020-01-02 14:23] t3chn0m4g3 commented on #125
@realsdx What exactly do you need?

[2020-01-02 15:37] t3chn0m4g3 commented on #128
@johnnykv Same problem here:
`heralding    | 2020-01-02 15:23:27,807 (heralding.honeypot) Could not start SSH server on port 22. Error: prepare() got an unexpected keyword argument 'loop'`

Python version is 3.7.5.

[2020-01-02 15:42] t3chn0m4g3 opened #129 "Heralding import error w/ Python 3.8.x"
When executing heralding (from master) with python 3.8.x I get the following import error:

[code]

[2020-01-02 16:16] t3chn0m4g3 commented on #128
Pinning `asyncssh==1.18.0` fixes it, however this seems only a temp solution, why I do not PR this 😃

[2020-01-02 17:18] t3chn0m4g3 commented on #125
With the Android client I get the error message `Error code: 0x4` and the following tcpdump:
[code]

[2020-01-03 03:59] haroldBarthel commented on #128
Thanks for the responses.

CentOS 7.7 has an older version of python3, but today I installed 3.7.5 just to try it. I still get the same error.
I don't know how to pin asyncssh==1.18.0, so I haven't tried that. If you could please clarify how I can apply that workaround I will try it.

[2020-01-03 09:20] t3chn0m4g3 commented on #128
Just adjust the `requirements.txt` accordingly.

[2020-01-04 18:32] haroldBarthel commented on #128
thanks, I was able to start it now.

[2020-01-04 18:32] #128 closed

[2020-01-31 07:35] MxRay commented on #125
Unfortunately, I can confirm the same behavior with plain Windows Remote Desktop Connection client.

[2020-01-31 20:34] soelkongen opened #130 "SSH error"
I get this error when I try to run heralding:
`Could not start SSH server on port 22. Error: prepare() got an unexpected keyword argument 'loop'`
I have followed the 7 step guide (INSTALL.md) on both ubuntu and debian, and get the same error.
If I disable SSH in the config, the program will run perfectly. Changing the port is'nt enough

Python version: Python 3.6.9

[2020-01-31 20:34] #130 closed

[2020-01-31 20:37] realsdx commented on #125
Which version of windows? and RDP client version?

[2020-02-01 16:40] johnnykv commented on #129
Could you check if `pip install distro` "fixes" the issue?

[2020-02-01 20:26] johnnykv commented on #129
Apparently  linux_distribution was removed from platform in python 3.8 and one of our dependencies (ipify) has not been updated to reflect this.

A pull request is pending: rdegges/python-ipify/pull/8.

[2020-02-03 08:59] t3chn0m4g3 commented on #129
Thanks for taking this on.

[2020-02-04 00:55] ariadarkkkis commented on #125
I have same issue
![heraldingrdperror](https://user-images.githubusercontent.com/25063830/73703775-56365a80-4706-11ea-89cd-a5f4acbdcc16.jpg)

[2020-02-04 08:59] MxRay commented on #125
Here you go:

![image](https://user-images.githubusercontent.com/9169152/73729143-c9ef5c00-4734-11ea-9585-f3796fb3474a.png)
![image](https://user-images.githubusercontent.com/9169152/73729237-f4411980-4734-11ea-8702-2ac9dfd9f84e.png)

[2020-02-10 19:20] Saransh0905 commented on #98
@johnnykv I would like to contribute to this project. Please tell me what should I learn and how should I start?
Thank you
Also is there any channel where I can contact you frequently.

[2020-02-19 18:49] shreyamalviya opened #131 "Can't start SSH server on port 22"
Running `sudo ./heralding-env/bin/heralding`, gives me the following error:

[code]

[2020-02-20 19:02] johnnykv commented on #131
Which version of python are you using?

[2020-02-20 19:20] shreyamalviya commented on #131
3.6

[2020-02-20 20:19] johnnykv commented on #131
Are you absolutely sure you are using python 3.6? I can reproduce in python 3.8, but not on python 3.7.5.

Can you pull the Heralding source code and try with that? I just pushed a few changes which prints stack tracks that would be useful in tracking down this issue (please post the stack traces here).

[2020-02-20 21:00] #129 closed

[2020-02-20 21:01] johnnykv commented on #129
Please note that beside this issues, there seems to be a few other compatibility issues with python 3.8.

[2020-02-20 22:44] johnnykv commented on #129
Seems like the last compability issues with 3.8 has been weeded out. Could you test on your setup before i release on pypi?

[2020-02-21 05:28] shreyamalviya commented on #131
Yes, definitely 3.6.
Here's what I'm getting:
[code]

[2020-02-21 07:58] johnnykv commented on #131
Fixed with 588c321b07e5960aa4f0ff5b43480a756520fd6b.

[2020-02-21 07:58] #131 closed

[2020-02-21 11:41] t3chn0m4g3 commented on #129
@johnnykv Confirmed working. Thank you!

[2020-02-21 16:27] shreyamalviya commented on #131
Pulled the latest code, but still getting the same error!

[2020-02-21 18:05] johnnykv commented on #131
You need to update the dependencies also. I would recommend that you clean your virtual environment.

The culprit of your problem is that we pinned the asyncssh to an older version, last night we removed this pinning.

[2020-02-25 20:59] ariadarkkkis commented on #125
Any updates on this issue?
Heralding works like a charm on Linux using as SSH Honeypot. Still need some tweaks to make it more legit but its working good. thanks

[2020-02-26 08:42] t3chn0m4g3 commented on #125
@realsdx Do you have an update on this issue? Are the provided info sufficient for debugging?

[2020-02-26 09:03] realsdx commented on #125
I will send a PR fixing this, but even after this there is still a problem with the Android client.

[2020-02-26 09:05] t3chn0m4g3 commented on #125
@realsdx Thanks for the feedback and your work on this!

[2020-02-26 16:15] johnnykv commented on #125
#132

[2020-03-01 08:54] kalyani7195 commented on #131
I too am facing the same issue.

[2020-03-01 12:33] johnnykv commented on #125
A fix from @realsdx dx was just merged into master. Please note, that currently Heralding only support RDP when supplying credentials beforehand, ie. if you use the microsoft RDP client, you need to fill in username and password before connecting.

The other scenario, where a user connects and is presented with a login screen and enters the login info "remotely" if not supported currently.

[2020-03-01 12:33] #125 closed

[2020-03-01 12:40] johnnykv opened #133 ""Login screen" support for RDP."
Currently Heralding only support RDP when the attackers supplies credentials beforehand. It would be nice to also support having an login screen for interactive "users".
Examples:

![download](https://user-images.githubusercontent.com/657389/75625838-19089f80-5bc2-11ea-8f1c-97ddb7d15adc.jpeg)

![download (1)](https://user-images.githubusercontent.com/657389/75625851-3d647c00-5bc2-11ea-8646-6c29364

[2020-03-01 15:43] johnnykv commented on #123
Closed since no feedback from author.

[2020-03-01 15:43] #123 closed

[2020-03-02 15:21] t3chn0m4g3 commented on #125
Thanks guys, the error does not show up anymore. However I can see that the credentials are being cut off in `auth.csv`:
[code]
First entry should be `test,test`, second entry should be `john,doe`

[2020-03-02 15:55] johnnykv opened #134 "RDP credentials are being cut off in `auth.csv`:"
Thanks guys, the error does not show up anymore. However I can see that the credentials are being cut off in `auth.csv`:
[code]
First entry should be `test,test`, second entry should be `john,doe`

_Originally posted by @t3chn0m4g3 in https://github.com/johnnykv/heralding/issues/125#issuecomment-593455265_

[2020-03-02 15:58] johnnykv commented on #125
Nice find, opened new issue.

[2020-03-02 15:59] t3chn0m4g3 commented on #125
Thank you 😄

[2020-03-02 18:19] #134 closed

[2020-03-02 18:20] johnnykv commented on #134
@t3chn0m4g3 just pushed a fix. There might be other issues with RDP, currently Heralding lacks proper test cases for rdp.

[2020-03-03 02:02] hammas9 commented on #80
Hi @johnnykv and others interested in this thread,
Did you end up adding IPv6 support to Heralding officially? Or do I still have to go by the way mentioned above?

Regards

[2020-03-03 07:54] t3chn0m4g3 commented on #134
@johnnykv Thank you for the quick fix. Authentication logging works now as expected.

[2020-03-21 03:59] Shawn5141 commented on #131
Hi : I use python 3.6 and also use autoremove to clean asyncssh and re-install with asyncssh>=2.0.0. but I still got error:

2020-03-20 20:56:52,920 (heralding.honeypot) Could not start SSH server on port 22. Error: prepare() got an unexpected keyword argument 'loop'.

Any idea why that is?

[2020-03-21 17:34] johnnykv commented on #131
Hi,

Not sure, make sure to update heralding from master also.

Regards,
Johnny

On Sat, 21 Mar 2020 at 04.59, Shawn Hsiao <notifications@github.com> wrote:

[2020-03-21 17:55] viditvarshney commented on #131
hey please join the slack channel there is an unser in the previois
messages
btw, make sure you have updated repository
update the asynchssh version
see the screenshot of my chat

and see this:
https://github.com/johnnykv/heralding/commit/588c321b07e5960aa4f0ff5b43480a756520fd6b

On Sat, Mar 21, 2020, 11:04 PM Johnny Vestergaard <notifications@github.com>
wrote:

[2020-03-21 17:56] viditvarshney commented on #131
you need to update the dependencies in your virtual env also

[2020-03-23 23:06] Shawn5141 commented on #131
Hi, I wonder how I can join slack channel
Thank you

Best,

Shawn Hsiao

[2020-03-24 05:35] Fosocles opened #135 "Wrong SSL version"
After some time, I get this error

2020-03-24 02:03:56,224 (asyncio) Task exception was never retrieved
future: <Task finished name='Task-7889' coro=<HandlerBase.handle_session() done, defined at /usr/lib/python3.8/site-packages/heralding/capabilities/handlerbase.py:74> exception=SSLError(1, '[SSL: WRONG_SSL_VERSION] wrong ssl version (_ssl.c:1108)')>
Traceback (most recent call last):
  File "/us

[2020-03-25 13:53] realsdx commented on #135
Can't reproduce it. Please provide the steps to reproduce the issue.

[2020-03-25 14:20] Laurent-Auf commented on #131
Hello,
I get the same error, and no slack access. I tried on Ubuntu and CentOS with no success, even a Ubuntu 19.10. Could you please post here the solution? I really want to try heralding!
Best regards.
Laurent

[2020-03-26 06:05] Fosocles commented on #135
Build docker image using TPot [Dockerfile](https://github.com/dtag-dev-sec/tpotce/blob/master/docker/heralding/Dockerfile). Started Heralding and after leaving it overnight, it gives that error.

[2020-03-28 08:53] johnnykv commented on #135
Can you produce verbose logging for this?

[2020-03-29 19:19] Fosocles commented on #135
I will try and come back with updates.

[2020-04-03 17:03] Fosocles commented on #135
Here are some logs. I copied a bit before and a bit after the errors (2 distinct errors).

2020-04-03 12:31:53,772 (heralding.capabilities.handlerbase) Size of session list for ssh: 1
2020-04-03 12:31:53,773 (heralding.capabilities.ssh) SSH connection received from YYYY.
2020-04-03 12:31:53,884 (asyncssh) [conn=530] Requesting key exchange
2020-04-03 12:31:53,996 (asyncssh) [conn=530] Received key

[2020-04-08 09:12] johnnykv commented on #135
Note: This can be reproduced by connecting using tls versions different from tls 1.1. Currently Heralding only support tls 1.1 - this is hardcoded here: https://github.com/johnnykv/heralding/blob/711ff0c93bc99e90ae9f7de75a92880337d5ab35/heralding/libs/msrdp/tls.py#L35

As i read the RDP specification  [1] 5.4.5.1 RDP supports TLS 1.0, 1.1 and 1.2. Hence to fix this, we need to parse the  PROTOCOL_

[2020-04-08 14:07] johnnykv commented on #135
I was wrong, PROTOCOL_SSL only indicates if SSL should be used or not - it does not indicate which version to use...

[2020-04-08 18:24] Fosocles commented on #135
@johnnykv Just to be sure, you did see the 2 erros, right?
SSL: SSLV3_ALERT_UNEXPECTED_MESSAGE and SSL: WRONG_SSL_VERSION.

[2020-04-10 10:07] johnnykv commented on #135
@Fosocles No, I did not notice the UNEXPECTED_MESSAGE :-). I still think the best approach is to circumvent this by using try/catch - and raise a separate task (issue) to make the TLS handling more robust.

[2020-04-12 08:49] Fosocles commented on #135
Ok, cool. That means modifying the code, right? I don't know if I can be of any help, but I can deploy the changes in my test and production environments and provide logs, if you want.

[2020-07-22 14:48] matthew5025 opened #139 "Pip old version"
I ran into #129 recently, and it seems that the version on pypi is rather old (Oct 2019)

[2020-12-05 10:26] #135 closed

[2020-12-23 20:42] johnnykv opened #144 "Fix RDP implementation"
The RDP implementation is broken. Hydra cannot bruteforce and the test case is failing.

Might be relates to TLS version.

@mimura1133 gave a potential hint in regards to root cause: https://github.com/johnnykv/heralding/pull/142#issuecomment-743681914

[2020-12-23 20:44] johnnykv commented on #139
Yep, you are right. I will make a new release soon.

[2020-12-27 11:45] johnnykv commented on #139
1.0.7 just released on pypi

[2020-12-27 11:45] #139 closed

[2021-03-08 10:11] Haotian-Shi-cyber opened #145 "whats the username and password for localhost:8080"

[2021-03-08 11:39] Haotian-Shi-cyber commented on #145
yeah im running it using docker. but i cannot catch any ssh login session, im running it using
docker run -p 80:80 heralding
but it can only log the http credentials

[2021-03-08 16:12] realsdx commented on #145
For ssh honeypot , you need to map the port 22 too.
This `docker run -p 80:80 -p 22:22 heralding` log enable you to log HTTP and ssh credentials

[2021-09-30 20:43] t3chn0m4g3 commented on #144
Any update on this?

[2021-11-13 11:27] #144 closed

[2021-11-17 10:21] t3chn0m4g3 commented on #144
Thank you!

[2021-12-21 00:44] amannayyar1 opened #148 "What is the credentials for localhost:8080?? and where to find the logs?"
Hello everyone,

I have two questions and i am quite new to all of this, I have set up the docker version on ubuntu 18.04 and it has been installed correctly.
Where do i find the credentials for the localhost login as i cannot access it as i do not know the details.
and where is the directory where i can find the logs.

Thank you guys in advance!

[2021-12-21 19:39] johnnykv commented on #148
Hi,

There is no credentials - it's all a honeypot :).

You should be able to find log files in the directory where you started Heralding from.

[2021-12-22 00:01] amannayyar1 commented on #148
@johnnykv Thanks for the quick reply I appreciate it,
So to clarify this is just logging the attempts thrown at the different ports such as ssh or HTTP etc.... but no login can be complete just low interaction honeypot for credentials - I appreciate this its awesome!

And the last question - can the localhost IP be changed or does it have to remain as a localhost IP?

thanks in advance, I apprecia

[2021-12-23 23:27] amannayyar1 commented on #148
@johnnykv Thanks for the quick reply I appreciate it,
So to clarify this is just logging the attempts thrown at the different ports such as ssh or HTTP etc.... but no login can be complete just low interaction honeypot for credentials - I appreciate this its awesome!

And the last question - can the localhost IP be changed or does it have to remain as a localhost IP?

thanks in advance, I apprecia

[2021-12-25 12:26] johnnykv commented on #148
No problem.

Not exactly sure what you mean in regards to the localhost ip. Please elaborate :)

[2021-12-25 13:38] amannayyar1 commented on #148
@johnnykv hello there,

So when activated the honeypot, and throwing login attempts its all done on the localhost ip address which is 127.0.0.1 is it possible to change that ip so i can attack the honeypot from another machine if so where can i do this?

Thanks again, Aman

[2021-12-27 09:49] johnnykv commented on #148
The honeypot should listen on all interfaces by default. You might have a firewall blocking - or maybe you are behind NAT?

[2021-12-27 13:05] amannayyar1 commented on #148
@johnnykv okay thanks i appreciate your help! It works now!
My final question is that as i have installed through docker is the only way i can view the log file is if i do:
Sudo docker exec -it - bash
or is there another way to view the logs

Thank you so much johnny you have made a splendid honeypot here!

[2021-12-30 00:09] amannayyar1 commented on #148
@johnnykv okay thanks i appreciate your help! It works now!
My final question is that as i have installed through docker is the only way i can view the log file is if i do:
Sudo docker exec -it - bash
or is there another way to view the logs

Thank you so much johnny you have made a splendid honeypot here!

[2022-01-03 01:55] amannayyar1 opened #149 "Viewing Log Files"
Hey Everyone hope the new year was great for you!
I got one question to ask, if you have installed through docker is the only way you can view the log files like this:
Sudo docker exec -it - bash
or is there another way to view the logs
as everything is working fine with no issue, its just if there is another way of viewing the log files as they do not save because when the honeypot is stopped the

[2022-06-02 15:03] t3chn0m4g3 opened #150 "Python 3.10 fails to start Heralding with errors"
Heralding has issues with Python 3.10 with regard to imap and fails to start with the following error:
[code]
Python 3.9 runs without any issues.

[2022-06-02 17:34] kajojify commented on #150
Hello @t3chn0m4g3! Thank you for your report!
The problem is _loop_ parameter was removed for many asyncio functions starting from Python 3.10 as well as for `asyncio.wait_for` - https://docs.python.org/3/library/asyncio-task.html?highlight=wait_for#asyncio.wait_for
I think we need to make some adjustments.

[2022-06-03 07:38] t3chn0m4g3 commented on #150
@kajojify Thanks for the swift reply. If you need help with testing please ping me.

[2022-10-14 15:03] t3chn0m4g3 commented on #150
@kajojify Have you had the chance yet to take a closer look?